body {
    background-color: #e9ecef;
    font-family: Arial, sans-serif;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .control-panel-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .btn-group {
    display: flex;
    gap: 10px;
  }
  
  .btn-alterar-cargo {
    background-color: #b8b632;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .btn-editar {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .btn-remover {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .cursos-section {
    max-height: 300px; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Add a vertical scrollbar when content exceeds the height */
}