/* Estilização completa do fundo e do centro do card de login */
body {
    /* Existing styles */
    background-color: #e9ecef; 
    height: 100vh; 
    display: flex;  
    justify-content: center; 
    align-items: center;    
    margin: 0; 
    padding: 0; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e9ecef;
}

.card {
    width: 100%;
    max-width: 400px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 0; 
    
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: left; /* Horizontally center items within the card */
}

h2 {
    color: #333;
    text-align: center; 
}

/* Estilização dos campos de formulário */
.form-group {
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
}

input[type='text'],
input[type='password'] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.btn-primary {
    padding: 10px;
    background-color: #1e9be5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

button.btn-primary:hover {
    background-color: #004085;
}

.voltar-btn {  
    display: block;    /* Make it a block element */
    margin: 10px auto; /* Center it horizontally */
}

button.btn-secondary:hover {
    background-color: #545b62;
}

button.btn-primary,
button.btn-secondary {
    display: block;     
    margin: 10px auto;  
    width: 80%;       
}

/* Estilização do logo */
.logo {
    display: block;
    margin: auto;
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}
