/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef;
    color: #333;
    margin: 0;
  }
  
  .header h1 {
    color: #007bff;
    text-align: center;
    width: 100%;
  }
  
  .header p {
    text-align: center;
    color: #666;
    font-size: 16px;
  }
  
  /* Search Bar Styles */
  .search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .search-bar select, 
  .search-bar input, 
  .search-bar button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .search-bar button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #1e9be5;
  }
  
  /* Table Styles */
  .table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .table th, 
  .table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #1e9be5;
    color: white;
  }
  
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  
  .author-link {
    color: inherit; 
    text-decoration: none; 
    cursor: pointer; 
  }
  
  .author-link:hover {
    text-decoration: underline; 
  }
  