body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef;
}

.register-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}


.voltar-btn {  
    display: block;    /* Make it a block element */
    margin: 10px auto; /* Center it horizontally */
    width: auto;      /* Let it take its natural width */
}


input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #1e9be5;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;
    margin: 10px auto;
}

button:hover {
    background-color: #0056b3;
}

/* Melhora a visibilidade e interação ao focar nos elementos select */
select:focus {
    background-color: white; /* Mantém o fundo branco ao interagir */
    border-color: #66afe9;  /* Cor da borda para destacar o foco */
    outline: none;          /* Remove o contorno padrão */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/* Estilização de option para manter consistência visual ao interagir */
option {
    background-color: white; /* Fundo branco padrão */
    color: black;            /* Texto preto para contraste */
}

/* Ajustes para a consistência do select entre navegadores */
select {
    appearance: none;            /* Desabilita a aparência padrão */
    -webkit-appearance: none;    /* Específico para WebKit */
    -moz-appearance: none;       /* Específico para Mozilla */
    background-image: url('path/to/your/custom-dropdown-icon.svg'); /* Personaliza o ícone do dropdown */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: white;     /* Fundo branco para o select */
    cursor: pointer;             /* Cursor de mão ao passar sobre o elemento */
    width: 100%;                 /* Usa toda a largura disponível */
    padding: 8px;                /* Padding para melhor toque */
    margin-top: 4px;             /* Espaço após o rótulo */
    box-sizing: border-box;      /* Garante que padding não adicione largura */
    border: 1px solid #ccc;      /* Borda sutil */
    border-radius: 4px;          /* Bordas arredondadas para combinar com inputs */
}

/* Reestiliza o select ao ser ativado */
select:active, select:focus {
    background-color: white; /* Fundo branco durante a interação */
    border-color: #66afe9;
}

/* Estilos adicionais para option quando ativo ou focado */
option:active, option:focus {
    background-color: white; /* Fundo branco ao selecionar */
    color: black;            /* Cor do texto */
}

