/* Estilo geral para a barra lateral */
#sidebar {
    position: fixed; /* Makes sidebar stay in place */
    height: 100vh;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    padding-top: 20px;
    width: 250px; /* Fixed width */
    top: 0; 
}

#sidebar #main-content {
    margin-left: 250px; /* Push main content to the right */
    width: calc(100% - 250px); /* Adjust width accordingly */
    top: 0; 
}

/* Estilos para os links da barra lateral com ícones */
#sidebar .nav-link {
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}


#sidebar .nav-link i {
    margin-right: 10px; /* Espaço entre ícone e texto */
}

#sidebar .nav-link:hover {
    background-color: #e9ecef;
    color: #1e9be5;
}

/* Removendo a cor de fundo azul constante quando ativo */
#sidebar .nav-link.active {
    background-color: #1e9be5;
    color: #fff;
}

/* Estilo para o botão de logout */
.logout-link {
    position: absolute;
    bottom: 0;
    width: 100%; /* Full width of the sidebar */
    text-align: center;
    padding: 10px 0;
    background-color: #dc3545;
    color: #fff;
}

.logout-link:hover {
    background-color: #bd2130;
}

.logo {
    width: 200px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto 20px; /* Center logo */
}
