/* General Styles */

.author-link {
  color: inherit; /* Usa a cor de texto normal do elemento pai */
  text-decoration: none; /* Remove o sublinhado */
  cursor: pointer; /* Mantém o cursor como ponteiro para indicar que é clicável */
}

.author-link:hover {
  text-decoration: underline; /* Opcional: adicionar sublinhado ao passar o mouse para indicar interatividade */
}
